/* Global style */


* {
    margin: 0;
}

body {
    max-width: 1280px;
    margin: 0px auto 80px auto;
}

.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.bg-color {
    background-color: #FFFFFF;
}

.primary-btn {
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 18px;
}

section {
    margin-top: 80px;
}

.primary-title {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
}

.primary-des {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}


/* Hero section */
.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 20px;
}

.banner-greet {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 24px;
}

.hero-img {
    height: 400px;
    width: 400px;
}

/* Vision section */
.vision-title-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

.card {
    box-sizing: border-box;
    padding: 32px;
    border-radius: 16px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-top: 25px;
}

.card-des {
    margin-top: 12px;
    margin-bottom: 24px;
}

.card-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    padding: 11px 20px 11px 20px;
    border: none;
}

.card-btn-1 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
}

.card-btn-2 {
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
}

.card-btn-3 {
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
}



.cards {
    display: flex;
    gap: 24px;
}

.card-1 {
    background: rgba(84, 144, 245, 0.2);
}

.card-2 {
    background: rgb(198, 228, 214);
}

.card-3 {
    background: rgb(247, 235, 207);
}

.quote-div {
    margin-top: 32px;
    padding: 48px 24px 48px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.q-author {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 4px;
}

.author-des {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* News section */
.news-card {
    display: flex;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;

}

.news-img-div {
    background-image: url("../assets/satelite.png");
    border-radius: 24px;
    min-width: 408px;
    height: 306px;
}

.news-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}

.news-img {
    margin: 12px 0px 12px 0px;
}

.news-pera {
    margin-top: 12px;
    margin-bottom: 32px;
}

/* Donate section */
.donate-title,
.donate-des {
    text-align: center;
}

.button-group input[type="radio"] {
    display: none;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.button-group label {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    cursor: pointer;

    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.button-group label:hover {
    background-color: darkgray;
}

.all-btn:hover{
    background-color: rgb(74, 71, 71);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-group input[type="radio"]:checked+label {
    background: rgb(198, 228, 214);
    color: rgba(14, 14, 14, 0.8);
    border-color: none;
}

.custom-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: justify;
    margin: 32px 124px;
}

#custom-amount {

    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.donate-button {
    display: flex;
    justify-content: center;
}

/* Newsletter */
.newsletter {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
}

.email-field {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 32px 124px; */
}

#email {

    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 18px 40px 18px 40px;
    /* border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px; */
    border: none;
    background: rgb(255, 255, 255);
    text-align: left;
    width: 600px;
    border-radius: 8px;
}

.Subscribe-btn {
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -20px;
}
.newsletter-des{
    text-align: center;
}

.spam {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin-top: 25px;
}